@charset "utf-8";

/* 로그인 */
.login.login-point .unit_chk { height:34px; }
.login.login-point .unit_chk .id_check { display:inline-block; margin-top:4px; }
.login.login-point .unit_chk > a { float:right; display:inline-block; width:137px; height:34px; text-indent: -9999px; background:url("../images/btn/btn_login_point.png") no-repeat; }
.login.login-point .btns.login-point { font-size: 0; text-align: center; margin-top:15px; }
.login.login-point .btns.login-point > a { position:relative; display:inline-block; width:auto; height:auto; line-height:normal; margin:0; padding:0; border:0; vertical-align: middle; }
.login.login-point .btns.login-point > a:nth-of-type(2) { margin-left:20px!important; }
.login.login-point .btns.login-point > a:nth-of-type(2)::before { position: absolute; display:block; content:''; top:5px; left:-9px; width:1px; height:16px; background-color:#000; }
.login.login-point .btns.login-point > span { display:inline-block; font-size: 16px; vertical-align: middle; margin:0 5px; }
.login.login-point.after { padding-top:28px; }
.login.login-point.after .login_after .login_txt.vvip { display:inline-block; padding-left:32px; margin:0 auto; background:url("../images/ico/ico_vvip_sm.png") left center no-repeat; background-size:24px 20px; }
.login.login-point.after .login_after .login_txt.vip { display:inline-block; padding-left:32px; margin:0 auto; background:url("../images/ico/ico_vip_sm.png") left center no-repeat; background-size:24px 20px; }
.login.login-point.after .login_after .login_txt.gold { display:inline-block; padding-left:32px; margin:0 auto; background:url("../images/ico/ico_gold_sm.png") left center no-repeat; background-size:24px 20px; }
.login.login-point.after .login_after .login_txt.silver { display:inline-block; padding-left:32px; margin:0 auto; background:url("../images/ico/ico_silver_sm.png") left center no-repeat; background-size:24px 20px; }
.login.login-point.after .login_after .my-point { display:inline-block; margin:15px auto 0; font-size: 20px; font-weight: 700; color:#ff626f; padding-right:38px; background:url("../images/bg/bg_mypoint.png") right 4px no-repeat; height:24px; line-height:24px; }
.login.login-point.after .login_after .my-point > span { display:inline-block; font-size: 16px; font-weight: 400; color:#000; margin-right:10px; height:24px; line-height:24px; }
.login.login-point.after .login_after .my-point > span > i { display:inline-block; width:19px; height:19px; background:url("../images/ico/ico_p_black.png") no-repeat; background-size:19px 19px; margin-left:3px; vertical-align: -3px; }
.login.login-point.after .login_after .asciat_msg { margin-top:10px; }
.login.login-point.after .login_after .asciat_msg .info_msg { margin-top:30px; }
.login.login-point.after .login_after .btns.sub-member { margin-top:50px; }

/* 포인트 공통 */
.point-wrap .grade-box { width:100%; height:230px; border:1px solid #ccc; font-size: 0; }
.point-wrap .grade-box * { box-sizing: border-box; }
.point-wrap .grade-box.vvip { background-color:#f8eef6; }
.point-wrap .grade-box.vip { background-color:#f5eff9; }
.point-wrap .grade-box.gold { background-color:#f8f5f0; }
.point-wrap .grade-box.silver { background-color:#f3f4f9; }
.point-wrap .grade-box .grade-view { display:inline-block; width:272px; height:100%; border-right:1px solid #ccc; padding:40px 0 0 40px; vertical-align: top; }
.point-wrap .grade-box .grade-view .grade-now > p { display:inline-block; font-size: 18px; font-weight: 400; color:#000; vertical-align: middle; }
.point-wrap .grade-box .grade-view .grade-now > div { position:relative; display:inline-block; vertical-align: middle; margin-left:8px; }
.point-wrap .grade-box .grade-view .grade-now > div .btn-grade-history { display:inline-block; vertical-align: middle; width:20px; height:20px; text-indent: -9999px; background:url("../images/btn/btn_grade_history.png") no-repeat; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history { position: absolute; display:none; top:-84px; right:-555px; width:530px; padding:40px; background-color:#fff; border:1px solid #ccc; z-index:1; box-shadow: 0px 1px 10px #ccc; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history.show { display:block; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history::before { position: absolute; display:block; content:''; top:82px; left:-17px; width:18px; height:22px; background:url("../images/bg/bg_tooltip_img01.png") no-repeat; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > p { font-size: 16px; font-weight: 400; color:#666; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > p.title { font-size: 26px; color:#000; margin-bottom:18px; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div { max-height:342px; overflow-y: auto; border-top:2px solid #000; border-bottom:1px solid #000; margin-top:20px; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div::-webkit-scrollbar { width:4px; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div::-webkit-scrollbar-button { display:none; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div::-webkit-scrollbar-thumb { background-color:#ccc; border-radius: 2px; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div::-webkit-scrollbar-track { background-color:transparent; padding:5px 0; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div > ul > li { position:relative; padding:18px; border-bottom:1px solid #ccc; box-sizing: border-box; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div > ul > li:last-child { border-bottom:0; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div > ul > li > p { font-size: 16px; font-weight: 400; color:#666; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div > ul > li > p + p { margin-top:10px; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div > ul > li > i { position:absolute; display:inline-block; width:116px; height:30px; top:50%; right:20px; transform: translateY(-50%); }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div > ul > li > i.vvip { background:url("../images/ico/ico_vvip.png") left center no-repeat; background-size:contain; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div > ul > li > i.vip { background:url("../images/ico/ico_vip.png") left center no-repeat; background-size:contain; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div > ul > li > i.gold { background:url("../images/ico/ico_gold.png") left center no-repeat; background-size:contain; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history > div > ul > li > i.silver { background:url("../images/ico/ico_silver.png") left center no-repeat; background-size:contain; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history .stitle01 { font-size: 16px; margin:18px 0 8px; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history .dot_list01 { margin-top:0; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history .dot_list01 > li { font-size: 16px; color:#666; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history .dot_list01 > li + li { margin-top:10px; }
.point-wrap .grade-box .grade-view .grade-now > div .grade-history .btn-history-close { position: absolute; top:20px; right:20px; width:22px; height:22px; text-indent: -9999px; background:url("../images/btn/btn_popupClose_black.gif") no-repeat; background-size:100%; }

.point-wrap .grade-box .grade-view > p { font-size: 16px; font-weight: 400; color:#666; margin-top:10px; }
.point-wrap .grade-box .grade-view .grade { height:53px; margin-top:30px; text-indent: -9999px; }
.point-wrap .grade-box.vvip .grade-view .grade { background:url("../images/ico/ico_vvip.png") left center no-repeat; }
.point-wrap .grade-box.vip .grade-view .grade { background:url("../images/ico/ico_vip.png") left center no-repeat; }
.point-wrap .grade-box.gold .grade-view .grade { background:url("../images/ico/ico_gold.png") left center no-repeat; }
.point-wrap .grade-box.silver .grade-view .grade { background:url("../images/ico/ico_silver.png") left center no-repeat; }

.point-wrap .grade-box .grade-dashboard { display:inline-block; width:calc(100% - 272px); height:100%; padding-top:36px; vertical-align: top; }
.point-wrap .grade-box .grade-dashboard > p { position: relative; display:inline-block; font-size: 18px; font-weight: 400; color:#666; padding-left:40px; }
.point-wrap .grade-box .grade-dashboard > p.reference { font-size: 16px; padding-left:0; padding-right:20px; margin-top:10px; float:right; }
.point-wrap .grade-box .grade-dashboard > p > strong { font-size: 26px; font-weight: 400; color:#000; }
.point-wrap .grade-box .grade-dashboard > p .bubble { position:absolute; display:block; top:-28px; right:-320px; width:312px; height:65px; padding-left:98px; padding-top:26px; background:url("../images/bg/bg_grade_bubble.png") no-repeat; }
.point-wrap .grade-box .grade-dashboard > p .bubble > span,
.point-wrap .grade-box .grade-dashboard > p .bubble > span > a { display:inline-block; width:100%; font-size: 16px; font-weight: 400; color:#000; text-align: center; }
.point-wrap .grade-box .grade-dashboard > p .bubble > span > span,
.point-wrap .grade-box .grade-dashboard > p .bubble > span > a > span { color:#ff626f; }
.point-wrap .grade-box .grade-dashboard > ul { width:100%; margin-top:36px; font-size: 0; }
.point-wrap .grade-box .grade-dashboard > ul > li { position:relative; display:inline-block; width:33.33%; height:88px; vertical-align: top; text-align: center; border-left:1px solid #ccc; padding-top:4px; }
.point-wrap .grade-box .grade-dashboard > ul > li:first-child { border-left:0; }
.point-wrap .grade-box.gold .grade-dashboard > ul > li:first-child,
.point-wrap .grade-box.silver .grade-dashboard > ul > li:first-child { width:66.66%; }
.point-wrap .grade-box .grade-dashboard > ul > li > p:first-of-type { display:inline-block; font-size: 18px; font-weight: 400; color:#666; vertical-align: top; }
.point-wrap .grade-box .grade-dashboard > ul > li > p:last-of-type { font-size: 40px; font-weight: 500; color:#000; margin-top:12px; }
.point-wrap .grade-box .grade-dashboard > ul > li > p:last-of-type > span { font-size: 18px; font-weight: 400; color:#666; }
.point-wrap .grade-box .grade-dashboard > ul > li .btn-point-use { position: absolute; top:-67px; right:40px; width:192px; height:40px; line-height:40px; text-align: center; background-color:#000; font-size: 16px; font-weight: 400; color:#fff; }
.point-wrap .grade-box .grade-dashboard > ul > li .btn-point-use > i { display:inline-block; width:24px; height:24px; background:url("../images/ico/ico_p_white.png") no-repeat; vertical-align: -5px; margin-right:5px; }
.point-wrap .grade-box .grade-dashboard > ul > li .bubble-silver { position: absolute; top:-75px; right:24px; width:228px; height:53px; background:url("../images/bg/bg_bubble_silver.png") no-repeat; }
.point-wrap .grade-box .grade-dashboard > ul > li .this-month-info { position:relative; display:inline-block; margin-left:8px; vertical-align: -10px; }
.point-wrap .grade-box .grade-dashboard > ul > li .this-month-info .btn-thismonth { display:inline-block; width:14px; height:15px; background:url("../images/btn/btn_tooltip.png") no-repeat; text-indent:-9999px; }
.point-wrap .grade-box .grade-dashboard > ul > li .this-month-info #thisMonth { display:none; position:absolute; top:-88px; right:-445px; width:420px; padding:40px; background-color:#fff; border:1px solid #ccc; z-index:1; box-shadow: 0px 1px 10px #ccc; text-align: left; }
.point-wrap .grade-box .grade-dashboard > ul > li .this-month-info #thisMonth.show { display:block; }
.point-wrap .grade-box .grade-dashboard > ul > li .this-month-info #thisMonth:before { position: absolute; display:block; content:''; top:82px; left:-17px; width:18px; height:22px; background:url("../images/bg/bg_tooltip_img01.png") no-repeat; }
.point-wrap .grade-box .grade-dashboard > ul > li .this-month-info #thisMonth > p { font-size: 26px; color: #000; margin-bottom: 18px; }
.point-wrap .grade-box .grade-dashboard > ul > li .this-month-info #thisMonth .btn-thismonth-close { position: absolute; top:20px; right:20px; width:22px; height:22px; text-indent: -9999px; background:url("../images/btn/btn_popupClose_black.gif") no-repeat; background-size:100%; }

.point-wrap .tooltip-wrap { position:relative; display:inline-block; }
.point-wrap .tooltip { display:none; position:absolute; background-color:#fff; border:1px solid #ccc; box-shadow: 0px 1px 10px #ccc; padding:40px 30px; box-sizing: border-box; z-index:1; }
.point-wrap .tooltip.show { display:block; }
.point-wrap .tooltip .btn-tooltip-close { position: absolute; top:20px; right:20px; width:22px; height:22px; text-indent: -9999px; background:url("../images/btn/btn_popupClose_black.gif") no-repeat; background-size:100%; }

/* 포인트 혜택/사용 안내 */
.point-wrap > .pt-visual { border:1px solid #ccc; }
.point-wrap > .pt-visual > img { width:100%; }
.point-wrap > .pt-visual > .pt-login { position:relative; height:70px; background-color:#f3f4f5; }
.point-wrap > .pt-visual > .pt-login > div { position:absolute; width:100%; top:50%; left:0; -webkit-tranform:translateY(-50%); transform:translateY(-50%); text-align: center; }
.point-wrap > .pt-visual > .pt-login > div > p { display:inline-block; vertical-align: middle; font-size: 18px; font-weight: 400; color:#000; }
.point-wrap > .pt-visual > .pt-login > div > a { vertical-align: middle; margin-left:18px; }
.point-wrap .benefit-tab { font-size: 0; padding-top:10px; }
.point-wrap .benefit-tab > li { display:inline-block; width:50%; text-align: center; padding-bottom:36px; border-bottom:4px solid #f4f4f4; color:#999; cursor: pointer; }
.point-wrap .benefit-tab > li.on { border-bottom-color:#222; color:#000; }
.point-wrap .benefit-tab > li > p { display:inline-block; vertical-align: top; }
.point-wrap .benefit-tab > li > p:first-child { font-size: 26px; font-weight: 500; margin-right:18px; }
.point-wrap .benefit-tab > li > p:last-child { font-size: 16px; font-weight: 300; text-align: left; padding-top:2px; }
.point-wrap .benefit-tab.two-line > li { padding-bottom:24px; }
.point-wrap .benefit-tab.two-line > li > p:last-child { padding-top:12px; }
.point-wrap .benefit-tab-cont { padding-top:80px; }
.point-wrap .benefit-tab-cont > li { display:none; }
.point-wrap .benefit-tab-cont > li.on { display:block; }
.point-wrap .benefit-tab-cont > li .benefit-title { font-family:"NotoSansThin"; font-size: 40px; color:#010101; text-align: center; }
.point-wrap .benefit-tab-cont > li .refer { font-size: 18px; font-weight: 400; color:#999; }
.point-wrap .benefit-tab-cont > li .refer.sm { font-size: 16px; margin-top:40px; }
.point-wrap .benefit-tab-cont > li .refer.red { font-size: 20px; color:#ff626f; margin-bottom:26px; }
.point-wrap .benefit-tab-cont > li .add_point {width:300px; text-align:center; margin-top:20px; font-size:18px;}
.point-wrap .benefit-tab-cont > li .refer > strong { color:#000; }
.point-wrap .benefit-tab-cont > li > img { display:block; margin:0 auto; }
.point-wrap .benefit-tab-cont > li .line { margin-top:10px; }
.point-wrap .benefit-tab-cont > li .line > li { font-size: 0; border-bottom:1px solid #ccc; padding:50px 0 50px 40px; }
/* .point-wrap .benefit-tab-cont > li .line > li:first-child { border-top:1px solid #ccc; } */
.point-wrap .benefit-tab-cont > li .line > li.no-line { border-top:0; padding-top:0; padding-left:0; }
.point-wrap .benefit-tab-cont > li .line > li > div { display:inline-block; vertical-align: top; }
.point-wrap .benefit-tab-cont > li .line > li .left { width:290px; }
.point-wrap .benefit-tab-cont > li .line > li .right { width:calc(100% - 290px); }
.point-wrap .benefit-tab-cont > li .line.benefit_info > li .left { width:258px; }
.point-wrap .benefit-tab-cont > li .line.benefit_info > li .right { width:802px; }
.point-wrap .benefit-tab-cont > li .line > li .left > p { font-size: 18px; font-weight: 300; color:#666; line-height:1.4em; }
.point-wrap .benefit-tab-cont > li .line > li .left > p.title { font-size: 26px; font-weight: 400; color:#010101; margin-top:18px; }
.point-wrap .benefit-tab-cont > li .line > li .left > p.title.no-margin { margin-top:0; }
.point-wrap .benefit-tab-cont > li .line > li .right > .txt { font-size: 20px; font-weight: 400; color:#000; margin-bottom:26px; }
.point-wrap .benefit-tab-cont > li .line > li .right .txt2 { font-size: 16px; font-weight: 400; color:#000; margin-top:15px; margin-bottom:26px; }
.point-wrap .benefit-tab-cont > li .line > li .right .txt3 { font-size: 16px; font-weight: 400; color:#000; line-height:28px;}
.point-wrap .benefit-tab-cont > li .line > li .right .pl10 {padding-left:10px;}
.point-wrap .benefit-tab-cont > li .line > li .right .etc {padding-left:18px; text-indent:-18px; word-break: keep-all;}
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit { width:100%; margin-top:20px; font-size: 18px; color:#000; border-top:3px solid #000; }
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit th { text-align:center; padding:28px 0; border-bottom:1px solid #000; }
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit th > p { font-size: 16px; color:#999; margin-top:10px; }
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit td { padding:26px 0; text-align: center; border-bottom:1px solid #ccc; }
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit td.line { border-right:1px solid #ccc; border-left:1px solid #ccc; }
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit td:first-child { padding-left:20px; text-align: left; }
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit td:first-child > img { height:28px; }
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit td.red { color:#ff626f; }
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit td.gray { color:#999; }
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit .pstin_icn {position:relative;}
.point-wrap .benefit-tab-cont > li .line > li .right .tbl-benefit .plus_icon  {position:absolute;left:-15px;top:-15px;width:27px;height:27px;background:url('../images/ico_gray_plus.png') no-repeat 50%;}
.point-wrap .benefit-tab-cont > li .line > li .right .line-box { font-size: 0; margin-top:20px; }
.point-wrap .benefit-tab-cont > li .line > li .right .line-box > li { display:inline-block; vertical-align: top; width:50%; height:175px; border:1px solid #ccc; padding:26px 0 0 30px; box-sizing: border-box; }
.point-wrap .benefit-tab-cont > li .line > li .right .line-box > li:first-child { border-right:0; }
.point-wrap .benefit-tab-cont > li .line > li .right .line-box > li > p { font-size: 16px; font-weight: 400; color:#999; line-height:1.6em; }
.point-wrap .benefit-tab-cont > li .line > li .right .line-box > li > p.title { font-size: 20px; color:#000; margin-bottom:14px; }
.point-wrap .benefit-tab-cont > li .line > li .right > .dot_list02 { margin-top:20px; }
.point-wrap .benefit-tab-cont > li .line > li .right > .dot_list02 > li { margin-top:8px; }
.point-wrap .benefit-tab-cont > li .line > li .right > .dot_list02 > li > ul { margin-top:0; padding-top:6px; }
.point-wrap .benefit-tab-cont > li .line > li .right > .dot_list02 > li > ul > li { padding-left:0; }
.point-wrap .benefit-tab-cont > li .line > li .right > .dot_list02 > li > ul > li + li { margin-top:6px; }
.point-wrap .benefit-tab-cont > li .line > li .right > .dot_list02 > li > ul > li::before { display:none; }
.point-wrap .benefit-tab-cont > li > .dot_list02.gray01 > li { color:#666; }
.point-wrap .benefit-tab-cont > li > .dot_list02.gray01 > li:before { background-color:#666; }
.point-wrap .benefit-tab-cont > li > .dot_list02.gray01 > li > strong { color:#000; }
.point-wrap .benefit-tab-cont > li .line .box-link-wrap { display:table; margin-top:40px; }
.point-wrap .benefit-tab-cont > li .line .box-link-wrap .box-link { display:table-cell; width:400px; height:160px; box-sizing: border-box; border:1px solid #ccc; text-align: center; vertical-align: middle; }
.point-wrap .benefit-tab-cont > li .line .box-link-wrap .box-link.no-line { border-left:0; }
.point-wrap .benefit-tab-cont > li .line .box-link-wrap .box-link > img { display:inline-block; vertical-align: middle; }
.point-wrap .benefit-tab-cont > li .line .box-link-wrap .box-link > p { display:inline-block; margin-left:24px; font-family:'NotoSansBold'; font-size: 20px; color:#000; vertical-align: middle; }
.point-wrap .benefit-tab-cont > li .line .box-link-wrap .box-link > p.link { padding-right:30px; background:url("../images/bg/bg_point_link.png") right center no-repeat; background-size: 10px 18px; }
.point-wrap .benefit-tab-cont > li .line .box-link-wrap .box-link > p.download { padding-right:36px; background:url("../images/bg/bg_point_download.png") right center no-repeat; background-size: 16px 17px; }
.point-wrap .benefit-tab-cont > li .ptpark { font-size: 0; margin-top:20px; }
.point-wrap .benefit-tab-cont > li .ptpark > li { display:inline-block; width:calc((100% - 36px) / 3); height:241px; vertical-align: top; box-sizing: border-box; border:1px solid #ccc; margin-right:18px; margin-top:20px; padding-top:40px; padding-left:124px; font-size: 16px; font-weight: 400; color:#666; line-height:1.6em; }
.point-wrap .benefit-tab-cont > li .ptpark > li:nth-child(3n) { margin-right:0; }
.point-wrap .benefit-tab-cont > li .ptpark > li > p { font-size: 24px; color:#000; margin-bottom:14px; }
.point-wrap .benefit-tab-cont > li .ptpark > li#ptpark01 { padding-top:50px; padding-left:40px; }
.point-wrap .benefit-tab-cont > li .ptpark > li#ptpark01 > p { text-indent:-9999px; height:33px; background:url("../images/ico/ico_pointpark_lg.png") left center no-repeat; }
.point-wrap .benefit-tab-cont > li .ptpark > li#ptpark02 { background:url("../images/ico/ico_ptpark02.png") 20px 40px no-repeat; }
.point-wrap .benefit-tab-cont > li .ptpark > li#ptpark03 { background:url("../images/ico/ico_ptpark03.png") 20px 40px no-repeat; }
.point-wrap .benefit-tab-cont > li .ptpark > li#ptpark04 { background:url("../images/ico/ico_ptpark04.png") 20px 40px no-repeat; }
.point-wrap .benefit-tab-cont > li .ptpark > li#ptpark05 { background:url("../images/ico/ico_ptpark05.png") 20px 40px no-repeat; }
.point-wrap .benefit-tab-cont > li .ptpark > li#ptpark06 { background:url("../images/ico/ico_ptpark06.png") 20px 40px no-repeat; }
.point-wrap .benefit-tab-cont > li .ptpark > li {width:355px;}
.point-wrap .benefit-tab-cont > li .ptpark > li:nth-child(3n) {width:354px;}
.point-wrap .benefit-tab-cont > li .pt-txt { font-size: 16px; font-weight: 400; color:#666; text-align:right; margin-top:18px; }
.point-wrap .benefit-tab-cont > li .pt-txt > a { position:relative; display:inline-block; color:#000; margin-left:20px; padding-right:16px; background:url("../images/bg/bg_error_btn.png") right center no-repeat; background-size:6px 11px; }
.point-wrap .benefit-tab-cont > li .pt-txt > a:after { position:absolute; display:block; content:''; bottom:-4px; left:0; width:100%; height:1px; background-color:#000; }

/* 포인트 조회/사용 */
.point-wrap > .tab_wrap { margin-top:40px; }
.point-wrap .board_search { margin-bottom:26px; }
.point-wrap .board_search .l_box { width:75%; }
.point-wrap .board_search .l_box .calendar_wrap { display:inline-block; vertical-align: middle; }
.point-wrap .board_search .l_box .calendar_wrap .calendar_set .inputS.calendar { width:186px!important; height:50px; border:1px solid #cccccc; line-height:50px; padding-left:20px; }
.point-wrap .board_search .l_box .calendar_wrap .calendar_set .ui-datepicker-trigger { top:50%; right:14px; transform: translateY(calc(-50% - 2px)); }
.point-wrap .board_search .l_box .calendar_wrap .cal_gubun { display:inline-block; width:10px; height:1px; background-color:#ccc; margin:0 10px; padding:0; vertical-align: middle; }
.point-wrap .board_search .l_box > button { margin-left:10px; }
.point-wrap .board_search .l_box > p { display:inline-block; font-size: 26px; font-weight: 400; color:#000; margin-left:20px; vertical-align: middle; }
.point-wrap .board_search .l_box > p.txt-schedule { font-size: 18px; font-weight: 400; color:#666; margin-left:0; vertical-align: -17px; }
.point-wrap .board_search .r_box { width:25%; }
.point-wrap .board_search .r_box .tab_wrap { float:right; padding-top:12px; }
.point-wrap .board_search .r_box .tab_wrap .tab { margin-bottom:0; }
.point-wrap .board_search .r_box .tab_wrap .tab li:last-child { padding-right:0; }
.point-wrap .tbl_wrap .tbl_list > tbody > tr > td:first-child { padding-left:40px; }
.point-wrap .tbl_wrap .tbl_list > tbody > tr > td:last-child { padding-right:40px; }
.point-wrap .tbl_wrap .tbl_list.save th,
.point-wrap .tbl_wrap .tbl_list.save td { text-align:left; }
.point-wrap .tbl_wrap .tbl_list.save th:first-child { padding-left:80px; }
.point-wrap .tbl_wrap .tbl_list.save th:nth-child(2) { padding-left:70px; }
.point-wrap .tbl_wrap .tbl_list.save th:nth-child(3) { padding-left:70px; }
.point-wrap .tbl_wrap .tbl_list.save th:last-child { padding-right:30px; }
.point-wrap .tbl_wrap .tbl_list.use th,
.point-wrap .tbl_wrap .tbl_list.use td { text-align:left; }
.point-wrap .tbl_wrap .tbl_list.use th:first-child { padding-left:80px; }
.point-wrap .tbl_wrap .tbl_list.use th:nth-child(2) { padding-left:90px; }
.point-wrap .tbl_wrap .tbl_list.use th:nth-child(3) { padding-left:60px; }
.point-wrap .tbl_wrap .tbl_list.use th:last-child { padding-right:30px; }
.point-wrap .tbl_wrap .tbl_list.save td.plus { color:#21a5fa; }
.point-wrap .tbl_wrap .tbl_list.use td.minus { color:#ff6e6d; }
.point-wrap .tbl_wrap.schedule { margin-bottom:0; }
.point-wrap .tbl_wrap.schedule .tbl_list th,
.point-wrap .tbl_wrap.schedule .tbl_list td { text-align:left; }
.point-wrap .tbl_wrap.schedule .tbl_list th:nth-child(2) { padding-left:40px; }
.point-wrap .tbl_wrap.schedule .tbl_list th:nth-child(3) { padding-left:100px; }
.point-wrap .accordion01.point-schedule { margin-bottom:20px; }
.point-wrap .accordion01.point-schedule > ul > li { margin:0; padding:0; border:0; border-bottom:1px solid #cccccc; }
.point-wrap .accordion01.point-schedule > ul > li:last-child { border-color:#666; }
.point-wrap .accordion01.point-schedule > ul > li > dl { font-size: 0; }
.point-wrap .accordion01.point-schedule > ul > li > dl > dd { display:inline-block; font-size: 18px; font-weight: 400; vertical-align: middle; box-sizing: border-box; line-height:1.4em; }
.point-wrap .accordion01.point-schedule > ul > li > dl > dd:first-child { width:200px; padding-left:40px; padding-right:16px; }
.point-wrap .accordion01.point-schedule > ul > li > dl > dd:nth-child(2) { width:200px; padding:0 16px; }
.point-wrap .accordion01.point-schedule > ul > li > dl > dd:nth-child(3) { width:300px; padding:0 16px; }
.point-wrap .accordion01.point-schedule > ul > li > dl > dd:nth-child(4) { width:200px; padding:0 16px; text-align: center; }
.point-wrap .accordion01.point-schedule > ul > li > dl > dd:last-child { width:200px; padding-left:16px; padding-right:40px; text-align: right; }
.point-wrap .accordion01.point-schedule .acd_titWrap { padding:30px 0; }
.point-wrap .accordion01.point-schedule > ul > li.on .acd_titWrap > dd { color:#000; }
.point-wrap .accordion01.point-schedule > ul > li .acd_titWrap .acd_btn { color:#000; padding-right:40px; background:url("../images/btn/btn_arrow_down.png") right center no-repeat; }
.point-wrap .accordion01.point-schedule > ul > li.on .acd_titWrap .acd_btn { background:url("../images/btn/btn_arrow_up.png") right center no-repeat; }
.point-wrap .accordion01.point-schedule .acd_cont { margin:0; padding:30px 0; border:0; border-top:1px solid #ccc; background-color:#f9f9f9; color:#666; }
.point-wrap .accordion01.point-schedule .acd_cont > dd { color:#666; }
.point-wrap .accordion01.point-schedule > ul > li > dl > dd .btn.sSmlBtn01 { padding-left:16px; padding-right:16px; color:#000; margin-left:20px; vertical-align: 2px; }
.point-wrap .accordion01.point-schedule > ul > li .acd_titWrap .empty { width:100%; text-align: center; padding:0; }
.point-wrap .dot_list01 { margin-top:20px; }
.point-wrap .dot_list01 > li { color:#666; }

/* 추천활동 내역 */
.point-wrap .recomm-desc { font-family: "NotoSansThin"; font-size: 30px; font-weight: 100; color:#000; line-height:1.4em; }
.point-wrap .my-recomm { margin-top:48px; }
.point-wrap .my-recomm > li { border-bottom:1px solid #ccc; padding:50px 0; font-size: 0; }
.point-wrap .my-recomm > li:first-child { border-top:1px solid #ccc; }
.point-wrap .my-recomm > li.recomm-info { background:url("../images/bg/bg_recomm_info.png") 78px 120px no-repeat; }
.point-wrap .my-recomm > li.recomm-act { background:url("../images/bg/bg_recomm_act.png") 78px 112px no-repeat; }
.point-wrap .my-recomm > li > div { display:inline-block; vertical-align: top; }
.point-wrap .my-recomm > li .left { width:300px; padding-left:40px; box-sizing: border-box; }
.point-wrap .my-recomm > li .left > p { font-size: 26px; font-weight: 400; color:#000; }
.point-wrap .my-recomm > li .right { width:calc(100% - 300px); }
.point-wrap .my-recomm > li .right > table { width:100%; margin-top:-5px; }
.point-wrap .my-recomm > li .right > table th { font-size: 18px; font-weight: 400; color:#666; padding-top:8px; }
.point-wrap .my-recomm > li .right > table th.url { color:#000; padding-top:14px; }
.point-wrap .my-recomm > li .right > table td { font-size: 26px; font-weight: 400; color:#000; }
.point-wrap .my-recomm > li .right > table td > p.phone-num { display:inline-block; font-size: 30px; vertical-align: middle; }
.point-wrap .my-recomm > li .right > table td .phone-change { vertical-align: middle; margin-left:40px; }
.point-wrap .my-recomm > li .right > table td .phone-change .tooltip { top:-80px; left:-320px; width:290px; }
.point-wrap .my-recomm > li .right > table td .phone-change .tooltip::before { position: absolute; display:block; content:''; top:88px; right:-17px; width:18px; height:22px; background:url("../images/bg/bg_tooltip_img01.png") no-repeat; transform: rotate(180deg); }
.point-wrap .my-recomm > li .right > table td .phone-change .tooltip > p { font-size: 18px; font-weight: 400; color:#000; line-height:1.4em; }
.point-wrap .my-recomm > li .right > table td .phone-change .tooltip .phone-sel { margin-top:25px; border-top:2px solid #000; border-bottom:1px solid #000; }
.point-wrap .my-recomm > li .right > table td .phone-change .tooltip .phone-sel > li { width:100%; height:50px; line-height:50px; font-size: 18px; font-weight: 400; color:#000; box-sizing: border-box; text-align: center; cursor: pointer; }
.point-wrap .my-recomm > li .right > table td .phone-change .tooltip .phone-sel > li.on { line-height:46px; color:#ff626f; border:2px solid #ff626f; }
.point-wrap .my-recomm > li .right > table td .phone-change .tooltip .phone-sel > li:hover { color:#ff626f; }
.point-wrap .my-recomm > li .right > table td .phone-change .tooltip .btn-wrap { margin-top:30px; }
.point-wrap .my-recomm > li .right > table td .inputB { width:600px!important; margin-top:14px!important; color:#666; }
.point-wrap .my-recomm > li .right > p { font-size: 18px; font-weight: 400; color:#000; margin-top:36px; }
.point-wrap .my-recomm > li .right .recomm-share { margin-top:18px; font-size: 0; }
.point-wrap .my-recomm > li .right .recomm-share > li { display:inline-block; }
.point-wrap .my-recomm > li .right .recomm-share > li + li { margin-left:20px; }
.point-wrap .my-recomm > li .right .recomm-share > li > button { width:68px; height:68px; text-indent: -9999px; }
.point-wrap .my-recomm > li .right .recomm-share > li > button.btn-kakao { background:url("../images/btn/btn_kakao.png") no-repeat; }
.point-wrap .my-recomm > li .right .recomm-share > li > button.btn-facebook { background:url("../images/btn/btn_facebook.png") no-repeat; }
.point-wrap .my-recomm > li .right .recomm-share > li > button.btn-naver { background:url("../images/btn/btn_naver.png") no-repeat; }
.point-wrap .my-recomm > li .right .recomm-share > li > button.btn-band { background:url("../images/btn/btn_band.png") no-repeat; }
.point-wrap .my-recomm > li .right .recomm-share > li > button.btn-url { background:url("../images/btn/btn_url.png") no-repeat; }
.point-wrap .my-recomm > li.recomm-act .right > p { font-size: 18px; font-weight: 400; color:#666; margin-top:0; }
.point-wrap .my-recomm > li.recomm-act .right > p.schedule { color:#000; padding-left:13px; margin-top:8px; }
.point-wrap .my-recomm > li.recomm-act .right > p > strong { font-family: "NotoSans"; font-weight: 500; }
.point-wrap .my-recomm > li.recomm-act .right > p > span { font-family: "NotoSans"; font-weight: 500; color:#ff626f; }
.point-wrap .my-recomm > li .right .recomm-stamp { width:560px; font-size: 0; }
.point-wrap .my-recomm > li .right .recomm-stamp > li { display:inline-block; width:105px; height:104px; margin-right:8px; margin-top:30px; font-size: 38px; font-weight: 700; color:#b4bcd4; line-height:104px; text-align: center; vertical-align: top; background:url("../images/bg/bg_stamp_off.png") no-repeat; }
.point-wrap .my-recomm > li .right .recomm-stamp > li.on { color:#fff; background:url("../images/bg/bg_stamp_on.png") no-repeat; }
.point-wrap .my-recomm > li .right .recomm-stamp > li.complete.on { height:125px; margin-top:8px; padding-top:20px; background:url("../images/bg/bg_stamp_complete.png") no-repeat; }
.point-wrap .my-recomm > li .right .recomm-stamp > li:nth-child(5n) { margin-right:0; }
.point-wrap .board_search.recomm .l_box { width:auto; float:left; }
.point-wrap .board_search.recomm .l_box > p { font-size: 18px; font-weight: 400; color:#666; margin:0; padding-top:15px; }
.point-wrap .board_search.recomm .l_box > p > strong { font-weight: 400; color:#000; }
.point-wrap .board_search.recomm .r_box { width:auto; float:right; }
.point-wrap .tbl_list.recomm td:first-child { padding-left:16px!important; }
.point-wrap .tbl_list.recomm td:last-child { padding-right:16px!important; }
.point-wrap .tbl_list.recomm td.complete { color:#ff626f; }
.point-wrap .tbl_list.recomm td.cancel { color:#666; }

/* 포인트 사용 신청 */
.point-wrap .tbl_detail th { color:#666; vertical-align: top; }
.point-wrap .tbl_detail th .icon-umobi { display:inline-block; width:93px; height:28px; background:url("../images/ico/ico_umobilogo.png") left top no-repeat; background-size:93px 28px; text-indent:-9999px; }
.point-wrap .tbl_detail th .icon-pointpark { display:inline-block; width:91px; height:22px; background:url("../images/ico/ico_pointpark.png") no-repeat; text-indent:-9999px; }
.point-wrap .tbl_detail th .tooltip-wrap { position:relative; display:inline-block; margin-left:6px; vertical-align: 2px; }
.point-wrap .tbl_detail th .tooltip-wrap .btn-tooltip { display:inline-block; width:14px; height:15px; background:url("../images/btn/btn_tooltip.png") no-repeat; text-indent:-9999px; }
.point-wrap .tbl_detail th .tooltip-wrap .tooltip { display:none; position:absolute; background-color:#fff; border:1px solid #ccc; box-shadow: 0px 1px 10px #ccc; padding:40px 30px; box-sizing: border-box; z-index:1; }
.point-wrap .tbl_detail th .tooltip-wrap .tooltip.show { display:block; }
.point-wrap .tbl_detail th .tooltip-wrap .tooltip::before { position: absolute; display:block; content:''; top:50%; left:-17px; width:18px; height:22px; background:url("../images/bg/bg_tooltip_img01.png") no-repeat; transform: translateY(-50%); }
.point-wrap .tbl_detail th .tooltip-wrap .tooltip.point-park { top:50%; right:-470px; width:445px; transform: translateY(-50%); }
.point-wrap .tbl_detail th .tooltip-wrap .tooltip.point-park > p { font-size: 18px; font-weight: 400; color:#666; line-height:1.4em; }
.point-wrap .tbl_detail th .tooltip-wrap .tooltip.point-park > p.title { color:#000; margin-bottom:20px; line-height:22px; }
.point-wrap .tbl_detail th .tooltip-wrap .tooltip.point-park > p.title > i { display:inline-block; text-indent:-9999px; width:91px; height:22px; background:url("../images/ico/ico_pointpark.png") no-repeat; }
.point-wrap .tbl_detail th .tooltip-wrap .tooltip.point-park > a { margin-top:26px; }
.point-wrap .tbl_detail th .tooltip-wrap .tooltip.point-park .btn-tooltip-close { position: absolute; top:20px; right:20px; width:22px; height:22px; text-indent: -9999px; background:url("../images/btn/btn_popupClose_black.gif") no-repeat; background-size:100%; }
.point-wrap .tbl_detail td .umobi-point { display:inline-block; }
.point-wrap .tbl_detail td .umobi-point > i { display:inline-block; width:20px; height:20px; margin-left:5px; background:url("../images/ico/ico_p_black.png") no-repeat; vertical-align: -3px; }
.point-wrap .tbl_detail td .input-wrap { position:relative; display:inline-block; }
.point-wrap .tbl_detail td .input-wrap .inputS { width:100%; padding-right:35px; }
.point-wrap .tbl_detail td .input-wrap .btn-input-del { position:absolute; display:none; top:50%; right:5px; width:24px; height:24px; text-indent: -9999px; background:url("../images/btn/btn_input_del_bold.png") no-repeat; transform: translateY(-50%); }
.point-wrap .tbl_detail td .inputS:-moz-read-only { cursor: normal; pointer-events: none; text-align: right; }
.point-wrap .tbl_detail td .inputS:read-only { cursor: normal; pointer-events: none; text-align: right; }
.point-wrap .tbl_detail td .inputS:disabled { cursor: normal; pointer-events: none; text-align: right; color:#999; }
.point-wrap .tbl_detail td .inputS.point-park:-moz-read-only { text-align: left; }
.point-wrap .tbl_detail td .inputS.point-park:read-only { text-align: left; }
.point-wrap .tbl_detail td .inputS.point-park:focus { outline:none; }
.point-wrap .tbl_detail td .under-point { color:#999; height:34px; line-height:34px; }
.point-wrap .tbl_detail td.sum-point { font-size: 18px; font-weight: 700; color:#ff626f; }
.point-wrap .tbl_detail td .btn.smlBtn03.disabled,
.point-wrap .tbl_detail td .btn.smlBtn03:disabled { border-color:#999; background-color:#999; cursor:normal; pointer-events: none; }
.point-wrap .tbl_detail td .input-wrap .inputS.disabled,
.point-wrap .tbl_detail td .input-wrap .inputS:disabled { height:40px; background-color:#e6e6e6; cursor:normal; pointer-events: none; vertical-align: middle; padding-left:5px; }
.point-wrap .tbl_detail td .btn.sSmlBtn01.disabled,
.point-wrap .tbl_detail td .btn.sSmlBtn01:disabled { color:#999; background-color:#e6e6e6; border-color:#999; cursor:normal; pointer-events: none; }

/* 레이어 팝업 */
.layer-pop-point { position:absolute; display:none; box-shadow: 0px 1px 10px #ccc; }
.layer-pop-point.show { display:block; }
.layer-pop-point .layer-cont { padding:40px; background-color:#fff; border:1px solid #cccccc;  }
.layer-pop-point .layer-cont > p { font-size: 18px; font-weight: 400; color:#666; text-align: center; }
.layer-pop-point.point-use { top:50%; left:50%; transform: translate(-50%, -50%); }
.layer-pop-point.point-use .layer-cont > p { color:#666; line-height:1.4em; }
.layer-pop-point.point-use .layer-cont > p > span { color:#ff626f; }

/* 포인트 제도 시행일 안내 레이어 팝업 */
#pointNotice { position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.8); z-index:1000; }
#pointNotice .point-layer { position:absolute; top:50%; left:50%; width:455px; transform: translate(-50%,-50%); }
#pointNotice .point-layer .top { position:relative; }
#pointNotice .point-layer .top > img { width:100%; }
#pointNotice .point-layer .top > img.coin { position:absolute; top:-5.81%; right:-2%; width:97.83%; height:79.66%; }
#pointNotice .point-layer .top > a { position:absolute; display:inline-block; bottom:5.35%; left:37.03%; width:26.69%; height:6.11%; text-indent:-9999px; }
#pointNotice .point-layer .bottom { background-color:#fff; border-radius: 0 0 0.3rem 0.3rem; border-top:1px solid #eee; font-size: 0; }
#pointNotice .point-layer .bottom > button { width:34.77%; height:57px; line-height:57px; font-size: 17px; font-weight: 400; color:#333; box-sizing: border-box; }
#pointNotice .point-layer .bottom > button:first-of-type { width:65.23%; border-right:1px solid #eee; }

.point-wrap .tab_wrap .tab.point-tab > li { cursor: pointer; }
.point-wrap .tab_wrap .tab.point-tab > li a { pointer-events: none; }
